doctype html

html
    head
        title StrathSEDS
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Strathclyde's Space Society since 2011.")
        meta(name="author" content="StrathSEDS")
        link(rel="icon", type="image/x-icon", href="assets/favicon.ico")

        // CSS
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/navbar.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")

        script(src="https://cdn.jsdelivr.net/npm/js-untar@2.0.0/build/dist/untar.js")
        script(src="js/video.js")
        script(src="js/scroll.js")

        header#navbar 

            ul#navbar-list 
                li.nav-item
                    a(href="#about", class="navbar-link") About
                li.nav-item
                    a(href="/projects.html", class="navbar-link") Projects
                li.nav-item
                    a(href="#join", class="navbar-link") Contact 

                li.nav-item
                    ul.social
                        li
                            a(href="https://www.facebook.com/StrathSEDS/", target="_blank")
                                i.fa-brands.fa-facebook
                        li
                            a(href="https://www.instagram.com/StrathSEDS/", target="_blank")
                                i.fa-brands.fa-instagram
                        li
                            a(href="https://github.com/StrathSEDS-on-GitHub/", target="_blank")
                                i.fa-brands.fa-github 
                        li
                            a(href="https://discord.gg/WRrEaB9KK5", target="_blank")
                                i.fa-brands.fa-discord
                        li
                            a(href="https://www.strathunion.com/groups/find-a-society/society/strathseds/", target="_blank")
                                img(class="navbar-icon", src="assets/strathunion.png", alt="StrathUnion Logo", id="strathunion-logo")
    
            a#nav-burger(onclick="toggleHamburgerMenu()")
                i.fa.fa-bars


            a(href="index.html", style="padding: 0;" class="navbar-no-hover")
                img(src="assets/logo.png", alt="StrathSEDS Logo", id="navbar-logo")
    body
        #content 
            section#jumbotron 
                div#jumbotron-sticky
                    #jumbotron-content
                        #jumbotron-logo
                            img(src="assets/logo.png")
                        #jumbotron-text
                            h1 Do you like space?
                            h2 Because we do.
                    div#jumbotron-label
                        h3 <i>Strathosphere 1 <br> June 25 2022</i>

            section#about.section
                #about-text.section-content
                    h1.show-on-scroll Strathclyde's Space Society since 2011.
                    p.show-on-scroll StrathSEDS runs talks, events and workshops aimed at giving students a link to the space industry. During the semester we hold meetings on Tuesdays and Thursdays at 5pm. On Tuesdays we hold one-off sessions designed to give students an environment to grow their interest in space and gain skills necassary to work in the industry. Thursdays are dedicated to working on projects such as Strathosphere I. 
        
            section#projects.section
                #project-text.section-content
                    h1.show-on-scroll Projects 
                    p.show-on-scroll The project team at StrathSEDS is working on innovative projects and competitions to show off our skills. <a href="/projects.html">Learn more about our projects.</a>

            section#join.section
                #join-text.section-content
                    h1.show-on-scroll Join us! 
                    p.show-on-scroll We're super welcoming and would love to have you on our team. Join us on <a href="https://discord.gg/WRrEaB9KK5">Discord</a> or come along to our weekly meetings! 
                        | Pick up a membership on the <a href="https://www.strathunion.com/groups/find-a-society/society/strathseds/">union page</a>.
                        | <br>
                        | If you need to get in touch, you can send us an email at <a href="mailto:contact@strathseds.org">contact@strathseds.org</a>.
        footer
            div#footer-content
                #footer-left
                    p © StrathSEDS 2022
                    p Strathclyde Students for the Exploration and Development of Space

                ul.social 
                    li
                        a(href="https://www.facebook.com/StrathSEDS/", target="_blank")
                            i.fa-brands.fa-facebook
                    li
                        a(href="https://www.instagram.com/StrathSEDS/", target="_blank")
                            i.fa-brands.fa-instagram
                    li
                        a(href="https://github.com/StrathSEDS-on-GitHub/", target="_blank")
                            i.fa-brands.fa-github 
                    li
                        a(href="https://discord.gg/WRrEaB9KK5", target="_blank")
                            i.fa-brands.fa-discord
                    li.strathunion-logo-container
                        a.strathunion-logo-container(href="https://www.strathunion.com/groups/find-a-society/society/strathseds/", target="_blank")
                            img(class="navbar-icon", src="assets/strathunion.png", alt="StrathUnion Logo", id="strathunion-logo")
    