doctype html

html
    head
        title StrathSEDS Projects
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Strathclyde's Space Society since 2011.")
        meta(name="author" content="StrathSEDS")
        link(rel="icon", type="image/x-icon", href="assets/favicon.ico")

        // CSS
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/navbar.css")
        link(rel="stylesheet", href="css/projects.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")

        script(src="js/scroll.js")

        header#navbar 
            a(href="index.html", style="padding: 0;" class="navbar-no-hover")
                img(src="assets/logo.png", alt="StrathSEDS Logo", id="navbar-logo")

            ul#navbar-list 
                li.nav-item
                    a(href="/index.html#about", class="navbar-link") About
                li.nav-item
                    a(href="/projects.html", class="navbar-link") Projects
                li.nav-item
                    a(href="/index.html#join", class="navbar-link") Contact 

                li.nav-item
                    ul.social
                        li
                            a(href="https://www.facebook.com/StrathSEDS/", target="_blank")
                                i.fa-brands.fa-facebook
                        li
                            a(href="https://www.instagram.com/StrathSEDS/", target="_blank")
                                i.fa-brands.fa-instagram
                        li
                            a(href="https://github.com/StrathSEDS-on-GitHub/", target="_blank")
                                i.fa-brands.fa-github 
                        li
                            a(href="https://discord.gg/gTaT4d2", target="_blank")
                                i.fa-brands.fa-discord
                        li
                            a(href="https://www.strathunion.com/societies/find/soc/strathseds", target="_blank")
                                img(class="navbar-icon", src="assets/strathunion.png", alt="StrathUnion Logo", id="strathunion-logo")
    
            a#nav-burger(onclick="toggleHamburgerMenu()")
                i.fa.fa-bars
    body
        #content 
            section#header-projects.section
                #header-projects-text.section-content
                    h1.show-on-scroll Our Projects
                    p.show-on-scroll The StrathSEDS Project team works on innovative projects and competitions to show off our skills and knowledge.  
        
            section#mach22.section
                #mach22-text.section-content
                    h1.show-on-scroll The Mach-22 Launch Competition
                    p.show-on-scroll The RF Magic mission was a category winning cansat and rocket combination developed in 2021/22. The project involved 3 radios, 2 cansats and a rocket, with an intended apogee of 1km. On launch day, we reached 1009.94m and successfully deployed all systems.

            section#mach21.section
                #mach21-text.section-content
                    h1.show-on-scroll Mach-21 
                    p.show-on-scroll Small scale simulation of STRATHcube, a student let cubesat project at Strathclyde

            section#ukube1.section
                #ukube1-text.section-content
                    h1.show-on-scroll UKube-1
                    p.show-on-scroll StrathSEDS was part of the UK's first ever CubeSat launch.

            section#nrc2014.section
                #nrc2014-text.section-content
                    h1.show-on-scroll National Rocketry Competition 2014
                    p.show-on-scroll StrathSEDS' team Just Testing won the National Rocketry Competition held by UKSEDS in 2014.

        footer
            div#footer-content
                #footer-left
                    p © StrathSEDS 2022
                    p Strathclyde Students for the Exploration and Development of Space

                ul.social 
                    li
                        a(href="https://www.facebook.com/StrathSEDS/", target="_blank")
                            i.fa-brands.fa-facebook
                    li
                        a(href="https://www.instagram.com/StrathSEDS/", target="_blank")
                            i.fa-brands.fa-instagram
                    li
                        a(href="https://github.com/StrathSEDS-on-GitHub/", target="_blank")
                            i.fa-brands.fa-github 
                    li
                        a(href="https://discord.gg/gTaT4d2", target="_blank")
                            i.fa-brands.fa-discord
                    li
                        a(href="https://www.strathunion.com/societies/find/soc/strathseds", target="_blank")
                            img(class="navbar-icon", src="assets/strathunion.png", alt="StrathUnion Logo", id="strathunion-logo")
    