.footer {
    display:block;
    margin-top: 0;
    padding-top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111111;
    color: darkgrey;
    text-align: center;
    height: 10vh;

    display:flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.footer > p {
    margin:0;
    align-self: center;
}