li {
    float: left;
    background-color: rgba(0, 0, 0, 0);
}

li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
}

li.avail {
    display:none;
    border-radius: 5px;
    border: 1px solid #878787;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #4949494b !important;
    margin-left: auto;
}
@media screen and (min-width: 500px){
    li.avail {
        display:block;
    }
}

li.avail a {
    background-color: #49494900;
    width: auto;
    height: auto
}

li a:hover:not(.avail) {
    border-bottom: 1px solid #fff;
}

ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: 10px;
    justify-content: space-between;
    width: 100%;

    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
    backdrop-filter: blur(5px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.09);
    background-color: rgba(228, 228, 228, 0.052); 
}
  
#jumbotron {
    display: flex;
    flex-direction: row;
}