@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
  pointer-events: all;
}

#content {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #141927;
  z-index: -1;
  overflow: hidden;
}

#content-inner {
  width: 100%;
  height: 100%;
}

#seds-logo {
  max-width: 60%;
  max-height: 300px;
}

* {
  box-sizing: border-box;
}

#jumbotron {
  padding-top: 20vh;
  height: 100vh;
  width: 100%;
}

#jumbotron-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

#branding-side {
  padding-left: 30px;
  padding-right: 30px;
  height: fit-content;
}

#tagline {
  font-size: 60px;
  margin: 0;
}

#tagline-2 {
  font-size: 25px;
  margin-top: 10px;
}

@-webkit-keyframes pingEffect {
  0% {
    transform: scale(0.92);
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pingEffect {
  0% {
    transform: scale(0.92);
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#bio {
  padding-left: 10%;
  padding-right: 10%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image:  url('/assets/images/rocket.png'), linear-gradient(75deg, rgba(0,0,0,1) 0%, rgba(20,25,39,1) 85%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}


/* -- section 2 -- */
#bio h2 {
  font-size: 60px;
  max-width: 1000px;
}

#bio p {
  font-size: 20px;
  max-width: 1000px;
}


/* ---- media queries ---- */
@media screen and (width < 900px) {
  #jumbotron-content {
    flex-direction: column;
    gap: 10px;
  }

  #bio h2 {
    font-size: 40px;
  }
  #bio p {
    font-size: 15px;
  }

  #tagline {
    font-size: 40px;
  }

  #tagline-2 {
    font-size: 15px;
  }
}
