@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  color-scheme: dark;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #181a22;
  color: white;
}

h1 {
  color: white;
  pointer-events: all;
}

a {
  color: #547caa;
  text-decoration: none;
}

a:hover {
  color: #547caa;
  text-decoration: underline;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #181a22;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
}

#content-inner {
  width: 100%;
  height: 100%;
}

#seds-logo {
  max-width: 60%;
  max-height: 350px;
}

* {
  box-sizing: border-box;
}

#jumbotron {
  padding-top: 30vh;
  min-height: 102vh;
  width: 100%;
  pointer-events: none;
}

#jumbotron-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  pointer-events: all;
}

#branding-side {
  padding-left: 30px;
  padding-right: 30px;
  height: fit-content;
}

#tagline {
  font-size: 75px;
  margin: 0;
}

#tagline-2 {
  font-size: 25px;
  margin-top: 10px;
}

/* -- section 2 -- */

#about {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('../images/rocket.png'), linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, #181a22 85%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

#about h2 {
  font-size: 60px;
  max-width: 1000px;
}

#about p {
  font-size: 20px;
  max-width: 1000px;
}

/* twitch-plug */

#twitch-plug {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;

  background-image: radial-gradient(ellipse at right,  #2f1c4d 15%, rgba(0, 0, 0, 1) 80%);
  background-repeat: no-repeat;
}

#twitch-plug::after {
  content: '';
  background-image: url('../images/splash.png');
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: ellipse(60% 35% at 70% 50%);
  height: 100%;
  z-index: -3;
  filter: brightness(0.6);
}

#twitch-plug h2 {
  font-size: 60px;
  max-width: 1000px;
}

#twitch-plug p {
  font-size: 20px;
  max-width: 1000px;
}

#twitch-rect {
  position: absolute;
  width: 70%;
  max-height: 45%;
  aspect-ratio: 16/9;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  z-index: -1;
  background-color: #12121a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#twitch-rect > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#twitch-icon-big {
  font-size: 100px;
  color: #9146FF;
}

/* -- section 3 -- */
#support {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: right;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url('../images/pcb.png');
  background-repeat: no-repeat;
  background-position: 100px 70%;
  background-size: 40%;
}

#support::before {
  z-index: -5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 80%);
}

#support > * {
  z-index: 10;
}

#support h2 {
  font-size: 60px;
  max-width: 1000px;
  margin-left: auto;
}

#support p {
  font-size: 20px;
  max-width: 800px;
  margin-left: auto;
}

/* -- section 4 -- */

#projects {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('../images/cansat\ render\ cool.png'), radial-gradient(ellipse at top right, #1b2735 0%, #000000 80%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

#projects h2 {
  font-size: 55px;
  max-width: 1000px;
}

#projects p {
  font-size: 20px;
  max-width: 1000px;
}


/* -- section 5 -- */

#contact {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: radial-gradient(ellipse at bottom left, #1b2735 0%, #000000 80%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

#contact h2 {
  font-size: 60px;
  max-width: 1000px;
}

#contact p {
  font-size: 20px;
  max-width: 1000px;
}

#contact a {
  font-size: 16px;
  color: white;
  display: inline;
}

#contact-buttons > li > a {
  color: white;
}



/* ---- media queries ---- */
@media screen and (max-width: 1000px) {
  #jumbotron {
    padding-top: 20vh;
  }

  #jumbotron-content {
    flex-direction: column;
    gap: 10px;
  }

  #about h2 {
    font-size: 40px;
  }

  #about p {
    font-size: 15px;
  }

  #tagline {
    font-size: 55px;
  }

  #tagline-2 {
    font-size: 20px;
  }

  #support {
    background-size: 80%;
    background-position: 0px 70%;
  }

  #twitch-rect {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
