.section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50vh;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#upcoming-projects {
  background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 70%);
  min-height: 20vh;
  padding-bottom: 10px;
}

#header-projects {
  background: radial-gradient(ellipse at left, #1b2735 0%, #000000 70%);
}

#strathosphere-5 {
    background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 70%);
}

#tracking-groundstation {
    background: radial-gradient(ellipse at top right, #1b2735 0%, #000000 70%);
}

#testing-my-patience {
    background: radial-gradient(ellipse at top right, #1b2735 0%, #000000 70%);
}

#firefly-ultra {
    background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 70%);
}

#blaim {
    background: radial-gradient(ellipse at bottom left, #1b2735 0%, #000000 70%);
}

#strathosphere-3 {
    background: radial-gradient(ellipse at top left, #1b2735 0%, #000000 70%);
}

#shamanboard {
  background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 70%);
}

#firefly-mini {
    background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 70%);
}

#still-testing {
    background: radial-gradient(ellipse at top right, #1b2735 0%, #000000 70%);
}

#olympus {
  background: radial-gradient(ellipse at top right, #1b2735 0%, #000000 70%);
  min-height: 40vh;
}

#header-projects {
}

#strathosphere-5 {
  min-height: 40vh;
}

#strathosphere-4 {
  min-height: 40vh;
  background-image: radial-gradient(ellipse at left, #1b2735 0%, #000000 70%);
  position: relative;
  z-index: 3;
}
#strathosphere-4::after {
  background-image: url("../assets/strathosphere4.png");
  transform: rotate(60deg);
  background-size: contain;
  background-position: left;
  filter: brightness(70%);
  background-repeat: no-repeat;
  z-index: -3;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
}

#strathosphere-3 {
  min-height: 40vh;
}

#strathosphere-2 {
  min-height: 40vh;
  background-image: radial-gradient(ellipse at left, #1b2735 0%, #000000 70%);
  position: relative;
  z-index: 3;
}
#strathosphere-2::after {
  background-image: url("../assets/pcb.png");
  background-size: contain;
  background-position: right;
  filter: brightness(50%);
  background-repeat: no-repeat;
  z-index: -3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

#mach22 {
  min-height: 40vh;
  background-image: url("../assets/rocket.png"), radial-gradient(ellipse at top left, #1b2735 0%, #000000 70%);
  background-position: left;
}

#firefly-1 {

  background: radial-gradient(ellipse at bottom left, #1b2735 0%, #000000 70%);
}

#mach21 {
  min-height: 40vh;
  background: radial-gradient(ellipse at top right, #1b2735 0%, #000000 70%);
}

#ukube1 {
  min-height: 40vh;
  background: radial-gradient(ellipse at left, #1b2735 0%, #000000 70%);
}

#firefly-maxi {

  background: radial-gradient(ellipse at right, #1b2735 0%, #000000 70%);
}

#ukube1-text, #mach22-text {
  margin-left: auto;
}

#nrc2014 {
  min-height: 40vh;
  background: radial-gradient(ellipse at bottom right, #1b2735 0%, #000000 70%);
}

#footer-content {
  background-image: radial-gradient(ellipse at top right, #1b2735 0%, #000000 70%);
}

