@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    width: 100%;
    height: 100%;
    background-color: #181a22;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#jumbotron {
    min-height: 200vh;
    width: 100%;
    display: flex;
    background: #181a22;
    color: #fff;
    flex-direction: row;

    #jumbotron-sticky {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: bottom left;
        background-repeat: no-repeat;
        transition: background-image 0.1s ease-in-out;

        #jumbotron-content {
            display: flex;
            flex-direction: row;
            padding: 0px;
            gap: 20px;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin: 0;
        }

        #jumbotron-logo>img {
            height: auto;
            margin: 0 auto;
            padding: 0;
            max-width: 250px;
            max-height: 250px;
        }

        h1 {
            font-size: 80px;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-size: 40px;
            padding: 0;
            margin: 0;
            font-weight: 300;
        }
    }

    #jumbotron-label {
        z-index: 100;
        position: sticky;
        margin-top: auto;
        margin-left: auto;
        padding: 10px;
        margin-top: -100px;

        &>h3 {
            color: white;
            font-weight: 300;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            text-align: right;
        }
    }
}

#twitch-plug {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 15;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 50) 0%, #181a22 85%);
    background-repeat: no-repeat;
}

#twitch-plug::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    background: radial-gradient(ellipse at right, #2f1c4d 15%, rgba(0, 0, 0, 0) 65%);
    background-repeat: no-repeat;
}

#twitch-plug::after {
    content: '';
    background-image: url('../assets/splash.png');
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: ellipse(60% 35% at 70% 50%);
    height: 100%;
    z-index: -3;
    filter: brightness(0.6);
}

#twitch-plug h2 {
    font-size: 60px;
    max-width: 1000px;
}

#twitch-plug p {
    font-size: 20px;
    max-width: 1000px;
}

#twitch-rect {
    position: absolute;
    height: 45%;
    aspect-ratio: 16/9;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 25px;
    z-index: -1;
    background-color: #12121a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#twitch-rect>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#twitch-icon-big {
    font-size: 100px;
    color: #9146FF;
}

.red {
    color: red;
}

.section {
    min-height: 100vh;
    padding-left: 13%;
    padding-right: 13%;
    color: white;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section>div>h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.section>div>p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.section-content {
    max-width: 750px;
    height: 100%;
}

#about {
    background-image: url('../assets/rocket.png'), radial-gradient(ellipse at right, #1b2735 0%, #000000 80%);
}

a {
    color: #58789b;
    text-decoration: none;
}

#projects {
    background-position: left;
    background-image: url('../assets/cansat-render-cool.png'), radial-gradient(ellipse at bottom left, #1b2735 0%, #000000 80%);

    #project-text {
        margin-left: auto;
    }
}

#join {
    background-position: right;
    background-image: url('../assets/pcb.png');
    background-size: 40%;
    position: relative;

    #project-text {
        margin-left: auto;
    }
}

#join::before {
    z-index: -5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at top left, #1b2735 0%, #000000 80%);
}

.show-on-scroll {
    opacity: 0 !important;
    transition: opacity .75s .2s ease-out;
}

.show-on-scroll.is-visible {
    opacity: 1 !important;
}


#footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;

    #footer-left {
        margin-left: 20%;
    }

    &>.social {
        margin-right: 20%;
        width: 125px;

        &>li>a>#strathunion-logo {
            // Makes the color #58789b. https://codepen.io/sosuke/pen/Pjoqqp
            filter: brightness(0) saturate(100%) invert(46%) sepia(10%) saturate(1679%) hue-rotate(171deg) brightness(94%) contrast(86%);
        }
    }
}

:root {
    color-scheme: dark;
}

.strathunion-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

//media queries 

@media screen and (max-width: 600px) {
    #jumbotron {
        #jumbotron-sticky {
            #jumbotron-content {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #jumbotron-logo {
                    margin-bottom: 20px;
                }

                h1 {
                    line-height: 1;
                    font-size: 60px;
                    padding: 20px;
                }

                h2 {
                    margin-top: 10px;
                    padding: 20px;
                    font-size: 20px;
                }
            }
        }
    }


    .section>div>h1 {
        font-size: 40px;
        padding: 0;
        margin: 0;
    }

    .section>div>p {
        font-size: 16px;
        padding: 0;
        margin: 0;
    }

    #join {
        background-size: 60%;
    }

    #footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #footer-left {
            margin-left: 0;
            padding: 10px;
            text-align: center;
        }

        &>.social {
            margin: 0;
            padding: 0;
            margin-bottom: 20px;
            width: 125px;
        }
    }
}